body {
  margin: 0;
  padding: 0;
  background-color: #17181C;
  color: #ffffff; /* This sets text color to white for better contrast */
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
}
